<template name="profile">


	<div class="profile-header" style="background: url('/img/appBack1.jpg') no-repeat center; background-size:cover;">
		<div class="recipe-header-overlay">
			<div class="container-fluid">
				<a class="back-button" href="#"><i class="ion-android-arrow-back"></i></a>
				<h2>{{this.username}}</h2>
				<p>{{this.profile.firstName}} {{this.profile.lastName}}</p>
			</div>
		</div>
	</div>

	<div class="container-fluid">

		{{#if forks}}
			<h4 class="page-header">Forks:</h4>
			{{#each this.profile.forks}}
			  	<div class="col-xs-6 col-sm-3">
			  		<a href="/recipe/{{this._id}}">
				    	<div class="thumbnail">
				      		<img src="{{this.image}}">
				      		<div class="caption">
				        		<h4>{{this.name}}</h4>
				      		</div>
				    	</div>
			    	</a>
			  	</div>
		  	{{/each}}
		{{/if}}

	</div>
</template>